* {
    margin: 0%;
    }

:root {
    --primary-color: #3d5a80;
    --secondary-color: #98c1d9;
    --accent-color: #136f63;
    --accent-color2: #d8f3dc; /*highlight color(mobile)*/
    --accent-color3: #25a18e;
    
    --light-gray: #f5f3f4;
    --filter-color: invert(31%) sepia(68%) saturate(517%) hue-rotate(123deg) brightness(93%) contrast(88%);
    --filter-color2: grayscale(50%);

}

h1, h2, h3, h4,h5, h6 {
    font-family: 'DM Serif Display', serif;
}

h1 {
    color:#fff;
    font-size: 3em;
    font-weight: 500;
    line-height: 1;
}

h2 {
    font-size: 3em;
    font-weight: 400;
    color: var(--primary-color);
    padding: .5em;
}

h3 {
    font-size: 2em;
    font-weight: 400;
    color: var(--primary-color);
    padding: .5em;
}

body {
    font-family: 'Karla', sans-serif;
    font: 16px;
    line-height: 1.5;
    text-align: center;
}

/*nav bar*/
nav {
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-toggle {
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: white;
    border: none;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  .nav-toggle:hover {
    color: var(--secondary-color);
    transform: rotate(90deg);
  }
  .logo {
    height: 20px;
  }
  .links a {
    color: var(--primary-color);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
    text-decoration: none;
  }
  .links a:hover {
    background: var(--accent-color2);
    color: var(--primary-color);
    padding-left: 1.5rem;
  }
 
  .links {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
  }

  .show-links {
    height: 12rem;
    display: block;
  }

  .link_btn{
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid var(--primary-color);
    padding: 0.5rem;
  }

  .link_btn:hover{
    background: var(--primary-color);
  }

  .link_btn a:hover{
    background: transparent;
    color: #fff;
  }

/*Body area*/
.family_img {
    width: 100%;
    height: auto;
}

.squiggle-right {
    position: absolute;
    left: 0;
    filter: var(--filter-color);
}

.squiggle-left {
    position: absolute;
    right: 0;
    filter: var(--filter-color);
}

.plans_area {
    background-color: var(--primary-color);
    padding: 5.75em 1em;
}

.plans_area p{
    color: #fff;
    margin: 1em;
    padding-bottom: 1em;
}

.main_btn, .find_btn{
    background-color: var(--primary-color);
    border: 2px solid white;
    padding: 1em 3em;
    color: #fff;
    text-transform: uppercase;
}

.main_btn:hover, .find_btn:hover{
    background-color:var(--accent-color3);
    border: 2px solid white;
    color: white;
}

/*-- Grid area --*/

.grid-items{
    padding-top: 9em;
}

.line{
    background-color: var(--secondary-color);
    width: 150px;
    margin: auto;
    height: 1px;
    position: relative;
}

.cards {
    padding: 2em;
}

.card p{
    color: var(--secondary-color);
}

.img_svg{
    filter: var(--filter-color2);
}

/*-- 3rd Section (Find out more) */
.find_more{
    background-color: var(--primary-color);
    padding: 5.75em 1em;
    margin: 7.5em 1em;
    background-image: url(images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position-x: right;
}

.find_header{
    padding-bottom: 1em;
    font-weight: 400;
}

/*-- Footer */
footer {
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
}

.footer_logo{
    padding-top: 5em;
    background: var(--light-gray);
    background-image: url(images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-position-x: left;
}

hr{
    width: 80%;
    margin: auto;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 2em;
    color: var(--secondary-color);
    padding: 3em;
}

footer h3{
    font-size: 1em;
    font-weight: 600;
    color: var(--accent-color);
    font-family: 'Karla';
}

footer ul{
    padding: 0;
    font-weight: 400;
}

footer li {
    list-style-type: none;
    line-height: 2em;
    color: var(--secondary-color);
    font-weight: 600;
}

footer h3{
    padding: 1.5em;
}

.footer_image, .desksquiggle-right, .desksquiggle-left, .deskfamily_img{
    display: none;
}

/*********** Media Query ****************/
@media screen and (min-width: 1440px){
    .family_img, .squiggle-right, .squiggle-left, .ham_menu{
        display: none; 
    }

    .plans{
        background-color: var(--primary-color);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .plans_area{
        text-align: left;
        width: 35%;
        padding-left: 5em;
    }

    .plans_area p{
        margin: 1em 0;
    }

    .desksquiggle-left{
        display: block;
        position: absolute;
        top: 35em;
        left: 0;
        filter: var(--filter-color);
    }

    .deskfamily_img{
        display: block;
        position: relative;
        top: 5em;
        height: 50%;
        height: auto;
    }

    .desksquiggle-right{
        display: block;
        position: absolute;
        top: 4.5em;
        right: 0;
        filter: var(--filter-color);
    }

     /*nav*/
     .nav-center {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
      }
      .nav-header {
        padding: 0;
      }
      .nav-toggle {
        display: none;
      }
      .links {
        height: auto;
        display: flex;
        align-items: center;
      }
      .links a {
        padding: 0;
        margin: 0 0.5rem;
      }
      .links a:hover {
        padding: 0;
        background: transparent;
        color: var(--accent-color3);
      }

      .link_btn a:hover{
        color: white;
      }

    /*main body area*/
    .line{
        position: absolute;
        left: 11em;
    }

    h2{
        text-align: left;
    }

    .grid-items{
       margin: 5em 10em 0 10em;
    }

    .grid-inside{
        display: flex;
        text-align: left;
    }

    .grid-inside h3{
        padding-left: 0;
    }

    .find_more{
        margin: 10em;
    }

    .find_btn{
        height: 50px;
    }

    /*footer*/
    footer{
        background: var(--light-gray);
    }

    .flex{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: left;
    }

    .flex h3{
       padding: 0%;
       margin-bottom: 1.5em;
       margin-top: 2em;
    }

    .footer_logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1em;
        padding-right: 5em;
        padding-left: 8em;
        background-image: none;
    }

    .footer_image{
        display: block;
        position: absolute;
        left: 0;
    }

  }
  